# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# NetBeans
/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Binários e arquivos compilados
bin/
*.class
*.jar
*.war
*.ear

# Arquivos temporários e logs
tmp/
*.log
*.tmp

# Relatórios
reports/
